

body{
	background:red
}





/* step1:箭头的位置，相对于内容来说 | 初始化箭头 */
.pop[dir='R']::before {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	background-color: inherit;
	clip-path: path(
		"M 0 8 A 4 4 0 0 0 2.82842712474619 6.82842712474619 L 6.585786437626905 3.0710678118654755 A 2 2 0 0 1 9.414213562373096 3.0710678118654755 L 13.17157287525381 6.82842712474619 A 4 4 0 0 0 16 8 Z"
	);
	right: 8px;
	top: 0;

	left: 0;
  	top: 8px;
	/* transform: translate(-50%, 0%) rotate(-90deg); */

	
	/* 左往右走 */
	transform: translate(-80%, 50%) rotate(-90deg);
}

/* 箭头的位置，相对于内容来说 | 初始化箭头 */
.pop[dir='R']::before {
	left: 6px;
	top: 0;
}

/* step2:简单定义打开后的动画效果 | 和初始化的效果 */

.pop {
	--pad: 10px;
	/* 初始--s 的缩放比率
	--s: 0; */
	position: absolute;
	display: flex;
	/* flex-direction: column; */
	/* visibility: hidden; */
	border: 0;
	opacity: .5;
	transition: opacity .05s, visibility .05s, transform 0s .1s;
	transform: translate(var(--x), var(--y)) scale(var(--s));
	z-index: 10;
	border-radius: var(--border-radius-base, 4px);
	background-color: var(--primary-bg, #fff);
	padding: 4px;

}
.pop:is([open])  {
	transition: 0.2s;
	--s: 1;
	opacity: 1;
	visibility: visible;
}


/* step3:pop组件整体的位移 | 运动起始和最终的位置  */
.pop[dir='R']  {
	transform-origin: left top;
	

	/* 左往右走 */
	left: calc(var(--right) * 1px);
	top: calc(var(--top) * 1px);
	--x: 0%;
	--y: 0%;
}
.pop[dir='R']:is([open])  {
	/* 上往下走 */
	/* --y: var(--pad); */
	/* 左往右走 */
	--x: var(--pad);
}

